@import url(common.css);
@import "variables.scss";

/* Chatting.CSS */

.wrap {
  position: relative;
  width: 375px;
  height: 812px;
  background-color: #fff;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 64px;
  width: calc(100% - 30px);
  height: 733px;
  margin: 0 auto;
}

.chat-date {
  opacity: .5;
  margin: 10px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.chat-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: fit-content;
  max-width: calc(100% - 40px);
  .chat-box__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #818C92;
    font-size: 12px;
  }
  .msg {
    margin: 5px 0;
    max-width: 240px;
    padding: 5px 15px;
    border-radius: 0 15px 15px 15px;
    background-color: #efefef;
    line-height: 1.4;
    color: #818C92;
    font-size: 14px;
  }
}
.other {
  margin-left: 55px;
  .other__info {
    position: relative;
    width: 100%;
    .other__profile {
      display: inline-block;
      position: absolute;
      left: -55px;
      top: 0;
      width: 42px;
      height: 42px;
      background: url(../images/img_friends_01.png) no-repeat 0 0;
      background-size: 42px 42px;
    }
  }
}
.my {
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 30px;
  .msg {
    border-radius: 15px 15px 0 15px;
    background-color: $green-color;
    color: #fff;
  }
}

.footer {
  position: relative;
  margin: 0 15px;
  padding: 15px 0;
  border-top: 1px solid #eff0f2;
}
.chatting-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff0f2;
  height: 46px;
  padding: 5px 6px;
  border-radius: 23px;
  .chatting-field {
    min-width: 190px;
    background: transparent;
    &::placeholder {
      color: #818C92;
    }
  }
}