@font-face {
  font-family: 'SF Pro Desplay';
  font-weight: 200;
  src: url(../fonts/SF-Pro-Display-Light.woff2);
}
@font-face {
  font-family: 'SF Pro Desplay';
  font-weight: 300;
  src: url(../fonts/SF-Pro-Display-Regular.woff2);
}
@font-face {
  font-family: 'SF Pro Desplay';
  font-weight: 400;
  src: url(../fonts/SF-Pro-Display-Medium.woff);
}
@font-face {
  font-family: 'SF Pro Desplay';
  font-weight: 500;
  src: url(../fonts/SF-Pro-Display-Semibold.woff2);
}
@font-face {
  font-family: 'SF Pro Desplay';
  font-weight: 600;
  src: url(../fonts/SF-Pro-Display-Bold.woff2);
}