@import url(common.css);
@import "variables.scss";

/* Main.CSS */

.main {
  overflow-y: auto;
  position: relative;
  top: 64px;
  width: calc(100% - 30px);
  height: 748px;
  margin: 0 auto;
  > section {
    margin-bottom: 30px;
  }
}
.main::-webkit-scrollbar {
  display: none;
}
.tit-main {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.tit-thin {
  font-weight: normal;
}

/* Contents */

.seasonal__swiper {
  padding-bottom: 30px;
}
.seasonal__item {
  width: 100%;
  figure {
    overflow: hidden;
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.seasonal__cont {
  position: relative;
  padding: 10px 15px 15px 15px;
  border-radius:  0 0 15px 15px;
  background-color: #F3FFF6;
  h3 {
    font-weight: 700;
    margin-bottom: 5px;
  }
  .feed {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 11px;
    span:first-of-type {
      margin-right: 5px;
    }
    i {
      color: $green-color;
      margin-right: 5px;
    }
  }
  > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    opacity: .5;
    width: 220px;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: $small-size;
  }
  .btn--inline {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}
.seasonal__pagination {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.swiper-pagination-bullet-active {
  background-color: $green-color;
}

.popular__list {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding-bottom: 15px;
  figure {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    width: 180px;
    height: 130px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    width: 100%;
    padding: 10px 15px 15px 15px;
    border-radius:  0 0 15px 15px;
    background-color: #F3FFF6;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
  }
}

.nearby {
  padding-bottom: 90px;
}
.nearby__list {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-bottom: 15px;
  figure {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    width: 140px;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.nearby__cont {
  padding: 10px 15px 15px 15px;
  border-radius:  0 0 15px 15px;
  background-color: #F3FFF6;
}
.nearby__tit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  span {
    font-weight: 700;
  }
  .btn--inline {
    width: 36px;
    height: 18px;
    line-height: 18px;
    margin: 0;
  }
}
.nearby__distance {
  position: relative;
  font-size: 14px;
  i {
    color: $grey-color;
  }
  .line-dotted {
    overflow: hidden;
    display: inline-block;
    width: 83px;
    height: 1px;
    border-top: 2px dotted $grey-color;
    text-indent: -9999px;
  }
  .meter {
    position: absolute;
    left: 50%;
    bottom: 8px;
    color: $grey-color;
    font-size: 12px;
    transform: translateX(-50%);
  }
}
