@import url(common.css);
@import "variables.scss";

@mixin smallText() {
  opacity: .5;
  font-size: $small-size;
}
/* Sign.CSS */

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 90px;
  width: calc(100% - 30px);
  margin: 0 auto;
  .sign__tit {
    font-size: $huge-size;
    font-weight: 700;
    letter-spacing: -2px;
  }
  .sign__sns {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    margin: 30px 0;
  }
  .sign__already {
    margin-top: 120px;
    color: $grey-color;
    font-size: $small-size;
    a {
      color: $green-color;
      font-weight: 700;
    }
  }
}

