/* Variables */

$white-color: #fff;
$black-color: #031925;
$grey-color: #818C92;
$green-color: #34C759;
$blue-color: #2D9CDB;
$red-color: #EB5757;

$huge-size: 1.750rem;
$large-size: 1.625rem;
$regular-size: 1.125rem;
$small-size: 0.875rem;