/* Support css */

.support {
  width: 670px;
  margin: 185px auto 120px;
}
.support h2 {
  font-size: 46px;
  margin-bottom: 80px;
  text-align: center;
  font-weight: bold;
}
.title-box {
  padding-bottom: 15px;
  border-bottom: 2px solid var(--default-color);
}
.title-box h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
.title-box:after {
  display: block;
  clear: both;
  content: '';
}
.title-box .check-wrap {
  float: right;
  position: relative;
  padding-top: 7px;
}
.title-box input[type="checkbox"] {
  display: none;
}
.title-box label::before {
  display: block;
  position: absolute;
  top: 9px;
  left: -24px;
  width: 14px;
  height: 14px;
  border: 2px solid var(--default-color);
  cursor: pointer;
  content: '';
}
.title-box input[type="checkbox"]:checked + label::before {
  line-height: 0.9;
  background-color: #0071E3;
  border-color: #0071E3;
  color: var(--white-color);
  content:'\2714';
}
.agree__list {
  margin-top: 5px;
}
.agree__list > li {
  position: relative;
  padding: 15px 0;
}
.agree__list .title-box .check-wrap {
  float: none;
  padding-left: 30px;
  color: var(--dark-grey-color);
}
.agree__list .title-box label::before {
  left: 0;
  border-color: var(--light-grey-color);
}
.agree__expand {
  position: absolute;
  top: 22px;
  right: 0;
  font-size: 32px;
  cursor: pointer;
  transition: transform .3s linear;
}
.agree__expand.active {
  transform: rotate(-180deg);
}
.agree__warning {
  display: inline-block;
  padding: 15px 0 15px 5px;
  color: #E81425;
}
.agree__warning::before {
  display: inline-block;
  position: relative;
  left: -5px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  background-color: #E81425;
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  content: '!';
}
.agree__cont {
  overflow: auto;
  width: 100%;
  height: 0;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-bottom: none;
  color: var(--dark-grey-color);
  font-size: 15px;
  transition: all .3s linear;
}
.agree__cont.no-bd {
  height: 0;
  border: none;
}
.agree__cont.active {
  height: 140px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.agree__cont h4 {
  font-weight: bold;
}
.agree__cont p {
  margin: 20px 0;
}
.agree__cont ul {
  margin-bottom: 30px;
  line-height: 1.6;
}
.agree__cont__dp1 > li {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
}
.agree__cont__dp1 > li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '가.';
}
.agree__cont__dp1 > li:last-of-type {
  margin-bottom: 30px;
}
.agree__cont__dp1 > li:last-of-type::before {
  content: '나.';
}
.agree__cont__dp2 {
  margin-top: 10px;
}
.agree__cont__dp2 > li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px;
}
.agree__cont__dp2 > li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '1)';
}
.agree__cont__dp2 > li:last-of-type::before {
  content: '2)';
}


/* identity */

.identity .title-box {
  margin-top: 55px;
}
.identity__box {
  margin: 34px 0 45px;
}
.identity__box > li {
  margin-bottom: 10px;
}
.identity__box li:nth-child(n+2) input {
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  font-size: 15px;
  text-indent: 17px;
}
.identity__nation input {
  margin-right: 5px;
}
.identity__nation input:nth-of-type(2) {
  margin-left: 30px;
}
.identity__person {
  margin-top: 15px;
}
.identity__person input {
  width: 330px;
}
.identity__person input:first-child {
  margin-right: 5px;
}
.identity__email input {
  width: 498px;
  margin-right: 5px;
}
.identity__email button {
  width: 162px;
  height: 50px;
  background-color: var(--default-color);
  color: var(--white-color);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.identity__pass input {
  width: 100%;
}
.identity__pass__condition {
  padding-top: 7px;
  color: var(--light-grey-color);
  font-size: 14px;
}
.identity__pass__condition .material-icons {
  vertical-align: bottom;
  color: var(--light-grey-color);
  font-size: 19px;
  font-weight: normal;
}
.identity__info,
.identity__advice,
.identity__import {
  color: var(--light-grey-color);
  font-size: 15px;
}
.identity__info {
  margin-bottom: 30px;
}
.identity__advice {
  margin-bottom: 60px;
}
.identity__advice li {
  padding-left: 5px;
  line-height: 1.6;
}
.identity__advice li::before {
  position: relative;
  left: -5px;
  content:'-';
}
.identity__import {
  position: relative;
  padding: 20px 0 20px 25px;
  line-height: 1.6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.identity__import p::before {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  background-color: var(--default-color);
  color: var(--white-color);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  content: '!';
}
.btn-wrap {
  width: 100%;
  margin-top: 60px;
  text-align: center;
}
.btn-wrap input {
  width: 115px;
  height: 60px;
  background-color: var(--default-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn-wrap .btn-reset {
  margin-right: 5px;
  border: 1px solid var(--default-color);
  background: none;
  color: var(--default-color);
}